*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2{
    font-size: 25px!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 18px!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/**navbar style***/
.navbar-light .navbar-brand {
    color: white !important;
    font-size: 25px!important;
}
.navbar-light .navbar-nav .nav-link {
    color: white!important;
}

/**slider**/

.w-100 {
    width: 100%!important;
    height: 90vh !important;
}
@media screen  and (max-width:768px){
    .w-100 {
        width: 101%!important;
        height: 600px!important;
    }
}
/*home info**/
.underline{
    margin: auto;
    width: 200px!important;
    height: 2px;
    background-color: red;
}
.home{
    padding-top: 40px;
    padding-bottom: 40px;
}
/**about section**/
.about-section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.btn-primary{
    background-color: red!important;
    border: none!important;
    border-radius: 0!important;
}
.btn-primary:hover{
    background-color: black!important;
}
/**traning-section**/
.traning-section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
}
/**contact page***/
.contact-section{
    padding-top: 40px;
    padding-bottom: 40px;
}
/**footer**/

footer{
    background-color:#0d6efd!important; 
    height: 50px;
    padding: 10px;
}
footer p{
    text-align: center;
    color: white;
}